<!DOCTYPE html>
<html>
<head>
  <title>DemoAppForRailsSimpleSearch</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<p><a href="/">Back to home</a></p>
<br/>
<%= yield %>

</body>
</html>
