<!DOCTYPE html>
<html>
<head>
  <title>DemoAppForRailsSimpleSearch</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p><a href="/">Back to home</a></p>
<br/>
<%= yield %>

</body>
</html>
